---
---

@import "{{ site.theme }}";
html {
    background:#000000;
    background: #354150 linear-gradient(#000000, #ffffff) fixed;
    height: 100%;
  }
  
body {
    padding:25px 0;
    margin:0;
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(0, 0, 0);
    font-weight:300;
    background:url('../images/checker.png') fixed;
    min-height: calc(100% - 100px);
  }